@font-face {
  font-family: "Roundo";
  src: url("/fonts/Roundo/Roundo-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Roundo";
  src: url("/fonts/Roundo/Roundo-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roundo";
  src: url("/fonts/Roundo/Roundo-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roundo";
  src: url("/fonts/Roundo/Roundo-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roundo";
  src: url("/fonts/Roundo/Roundo-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roundo";
  src: url("/fonts/Roundo/Roundo-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Roundo", sans-serif;
}
